<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Annotate</title>
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/paper-full.js"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js" charset="utf-8"></script>
    <script src="https://dl.dropboxusercontent.com/u/5257657/polygon.js" charset="utf-8"></script>-->
    <style src="/css/vendor.css"></style>
    <link rel="stylesheet" href="/css/vendor.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/vendor.bundle.js" charset="utf-8"></script>
    <script src="/js/bundle.js" charset="utf-8"></script>
</head>
<body>
    <div id="app">{{ html|safe }}</div>
</body>

</html>
