<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Annotate</title>
    <!-- a solution from [http://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined] -->
    <script type="text/javascript">
        if (window && window.process && window.process.type == "renderer") {
            window.inElectron = true;
            window.localRequire = require;
        } else {
            window.inElectron = false;
        }
    </script>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/vendor.js" charset="utf-8"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js" charset="utf-8"></script>
    <script src="https://dl.dropboxusercontent.com/u/5257657/polygon.js" charset="utf-8"></script>-->
    <style src="/css/vendor.css"></style>
    <link rel="stylesheet" href="/css/vendor.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/vendor.bundle.js" charset="utf-8"></script>

    <script>if (window.module) module = window.module;</script>
    <script src="/js/bundle.js" charset="utf-8"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYQSoG4m_uKgNcv_t598F457opIT23dG8&callback=initMap">
    </script>
    <!--
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYQSoG4m_uKgNcv_t598F457opIT23dG8&libraries=geometry">
    </script>
-->
</head>
<body>
    <div id="app">{{ html|safe }}</div>
</body>

</html>
