
.imgGalleryBox img {
    display:inline !important;
    position: relative !important;
    margin: -50% auto;
    width: 100%;
    height:auto;
    vertical-align:middle !important;
}
.imgGalleryBox {
    display:block;
    height:200px;
    line-height:200px;
    overflow:hidden;
    position: relative;
}

.canvas-vh75 {
    /* http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window */
    height: 75vh;
}
.canvas-vh45 {
    height: 50vh;
}
.canvas-vh30 {
    height: 30vh;
}

.myCanvas .canvas-border {
    position: relative;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width:95%;
    height: 95%;
    background-image: url("/img/base.png");
    background-repeat: repeat;
    background-size: 300px 300px;
    position: absolute;
    overflow: hidden;
}

.myCanvas img {
    position: absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.myCanvas canvas {
    width:100%;
    height: 100%;
    position: absolute;
}

.editor-utils .divider {

}

.editor-utils .checkbox {
    margin-right: 10px;
}
.editor-utils table .menu {
    margin: 0 !important;
    height: 20px;
}

.editor-utils {
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

a:hover {
    cursor: pointer;
}

#helpModal .content {
    overflow: scroll;
    max-height: 70vh;
}
